<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <style>
        .center{
            margin : auto;
            width: 50%;
            border: 3px solid;
            padding: 40px;
}
    </style>
</head>
<body>
    <div class="center">
        <h1>Basic Calculator</h1>
        <form action="result">
            <input type="number" name="num1" placeholder="Enter first number">
            <br><br>
            <input type="number" name="num2" placeholder="Enter second number">
            <br><br>
            <button type="submit" name="add">ADD</button>
            <button type="submit" name="subtract">SUBTRACT</button>
            <button type="submit" name="multiply">MULTIPLY</button>
            <button type="submit" name="divide">DIVIDE</button>
        </form>
    </div>
</body>
</html>